extends layout

block content
    p Закон о Телемедицине
    p.
        Данный закон официально позволяет врачам консультировать пациентов в интернете с помощью видеосвязи или смартфона. Закон устанавливает следующий порядок оказания услуг:
        •	установление диагноза и назначение лечения происходит на первом (очном) приёме у врача;
        •	последующие консультации, корректировка лечения, наблюдение за состоянием здоровья, а также получение рецептов возможны удалённо.
        Данным законом будет разрешено лечить людей не всем медучреждениям и врачам, а тем, которые получат специальные разрешения. Для этого больницам надо будет зарегистрироваться в Федеральном реестре медицинских организаций Единой государственной информационной системы в сфере здравоохранения, а врачам - в Федеральном регистре медицинских работников Единой системы. Программное обеспечение для диагностики и лечения людей тоже нужно будет регистрировать.
        Ответственность за медзаключение по результатам консультации по телефону или интернету несет тот, кто ее дал - удаленный врач или консилиум. А вот ответственность за принятие решений по результатам лежит на лечащем враче. Все материалы, полученные в результате телемедицинских манипуляций, должны храниться в течение года.
        Телемедицина поможет не только жителям отдаленных территорий, где может просто не быть в наличии хорошего специалиста, например, узкого, но и горожанам, которые могут жить далеко от врача или не иметь свободного времени на его посещение, поскольку лечащий врач после очного приема может установить дистанционное наблюдение за здоровьем пациента.
