extends layout

block content
  p Здравствуйте
    p
      | Мы приглашаем Вас принять участие в обсуждении нового законопроекта. Пожалуйста, уделите несколько минут нам, чтобы изменить своё будущее.
    p Узнать больше можно здесь:
    a.vote(href="/vote") Перейти к голосованию
  script(src='//d3js.org/d3.v3.min.js')
  script(src='javascripts/graph.js')
